-carousel {
	height: 100px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	width: 300px;
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 700px;
}

.ui-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;	
}

body {
	font: 16px/1.5 sans-serif;

}

#content {
	margin: 20px;
}

h1 {
	font-size: 2em;
	margin-bottom: 30px;
}

a:link, a:visited, a:hover, a:active {
	color: #fff;
}

a:hover, a:focus {
	outline:1px solid white;
}

#content a:link, #content a:visited, #content a:active {
	color: #ff5c43;
}

#content a:focus {
	color: #e25741;
	outline:1px solid #e25741;
}

#container {
	width: 700px;
	position: relative;
	margin-left: 0 auto;
}

#footer {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	background-color: #FF5C43;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: 10px;
	font-size: .9em;
	font-family: Ubuntu, sans-serif;
}

#carousel {
	width: 500px;
	margin: 0 auto;
}

#ui-carousel-next, #ui-carousel-prev {
	width: 60px;
	height: 240px;
	background: url(../carousel/arrow-left.png) #fff center center no-repeat;
	display: block;
	position: absolute;
	top: 0;
	z-index: 100;
}

#ui-carousel-next {
	right: 0;
	background-image: url(../carousel/arrow-right.png);
}

#ui-carousel-prev {
	left: 0;
}

#ui-carousel-next > span, #ui-carousel-prev > span {
	display: none;
}

.slide {
	margin: 65px 0 0 0;
	position: relative;
	text-align: center;
}

.slide  h1 {
	font: 72px/1 Anton, sans-serif;
	color: #ff5c43;
	margin: 0;
	padding: 0;
}

.slide p {
	font: 26px/1 Ubuntu, sans-serif;	
	color: #4d4d4d;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

.slide p.cite {
	font: 32px/1 Anton, sans-serif;	
	color: #ff5c43;
	margin: 15px 0 0 0;
	padding: 0;
	text-align: left;
}

#pages {
	width: 230px;
	margin: 0 auto;
	text-align: center;
}

.bullet {
	background: url(../carousel/page-off.png) center center no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	margin: 0;
	margin-right: 5px;
	float: left;	
}
